<h4>Add a New Book</h4>
   <form #addBook="ngForm"(ngSubmit)="onSubmit()">
       <div>

        Book's Name: <input [(ngModel)]= "title"
                                   name="title"> 
       </div>
      <br>
       <div>

        Author's Name: <input [(ngModel)]= "author"
                                  name="author"> 
         </div>
        <br><br>
          <button mat-raised-button color="primary" [disabled]>{{buttonText}}</button>
       </form>