<mat-card>
        <h4>Temperature</h4>
<form #tempForm="ngForm"(ngSubmit)="onSubmit()">
        <div>
    <input placeholder="Temperature" [(ngModel)]="temperature"
                    name="temperature"
                    required
                    #temp = "ngModel">
    <mat-error *ngIf="!(temp.valid || temp.pristine)">
        Temperature is required
    </mat-error>

    <h4>City</h4>
<mat-form-field>
    <mat-label>Choose City</mat-label>
  <mat-select [(ngModel)]="city" name ="city">
    <mat-option *ngFor="let cityname of cityName" [value]="cityname">
      {{cityname}}
    </mat-option>
  </mat-select>
</mat-form-field>
</div>
    <button [disabled]="!tempForm.form.valid">Primary</button>
</form>
</mat-card>
